<div ng-show="error" class="alert alert-danger">{{::error}}</div>
<div class="jumbotron">
    <div class="media">
        <i ng-if="contact.Profile.IsBusiness == 'False'" class="fa fa-2x fa-home pull-left colorPrimary" style="position:fixed"></i>
        <i ng-if="contact.Profile.IsBusiness == 'True'" class="fa fa-2x fa-briefcase pull-left colorPrimary" style="position:fixed"></i>
        <div class="media-left">
            <div ng-if="contact.Profile.Photo" class="profilephoto-rounded" style="background-image:url('{{::contact.Profile.Photo}}')"></div>
            <i ng-if="!contact.Profile.Photo" class="fa fa-user" style="font-size: 200px;color:#ddd"></i>
        </div>
        <div class="media-body colorDark">
            <h1 class="media-heading">{{::contact.Profile.FormattedName}}</h1>
            <p>{{::contact.Profile.JobTitle}}</p>
        </div>
    </div>
</div>

<div class="row colorDark">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <div ng-if="contact.Profile.Email">
                <dt><i class="fa fa-envelope"></i></dt>
                <dd><a href="mailto:{{::contact.Profile.Email}}">{{::contact.Profile.Email}}</a></dd>
            </div>

            <div ng-if="contact.Profile.Mobile">
                <dt><i class="fa fa-mobile"></i></dt>
                <dd>{{::contact.Profile.Mobile}}</dd>
            </div>

            <div ng-if="contact.Profile.Phone">
                <dt><i class="fa fa-phone"></i></dt>
                <dd>{{::contact.Profile.Phone}}</dd>
            </div>
            <br />
            <div ng-if="contact.Profile.CompanyName">
                <dd class="with-linebreaks"><strong>{{::contact.Profile.CompanyName}}</strong></dd>
            </div>

            <div ng-if="contact.Profile.FormattedAddress">
                <dt><i class="fa fa-map-marker"></i></dt>
                <dd class="with-linebreaks">
                    <a class="modalButton" data-toggle="modal" data-href="https://www.google.com/maps/embed/v1/place?key=AIzaSyAJVilLBT0xGZc-a_Q_cfnN1s5hyf-_y_E&q={{::contact.Profile.FormattedAddress | gMapsFilter}}" data-target="#mapsModal">
                        {{::contact.Profile.FormattedAddress}}
                    </a>
                </dd>

                <div class="modal fade" id="mapsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="width: 75%;">
                        <div class="modal-content">
                            <div class="modal-body">
                                <iframe style="height: 500px; width: 100%;" frameborder="0"></iframe>
                            </div>
                            <div class="modal-footer">
                                <span class="pull-left"><strong>{{::contact.Profile.CompanyName}}</strong> {{::contact.Profile.FormattedAddress}}</span>
                                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <script type="text/javascript">
                    $('a.modalButton').on('click', function(e) {
                        var src = $(this).attr('data-href');
                        console.log(src);
                        $("#mapsModal iframe").attr({'src':src});
                    });
                </script>

            </div>
        </dl>
    </div>


    <div class="col-md-6">
        <dl class="dl-horizontal">
            <div ng-if="contact.Profile.Url">
                <dt><i class="fa fa-globe"></i></dt>
                <dd ng-bind-html="contact.Profile.Url | urlFilter : true"></dd>
            </div>
            <div ng-if="contact.Profile.BirthDate">
                <dt><i class="fa fa-gift"></i></dt>
                <dd>{{::contact.Profile.BirthDate | date}}</dd>
            </div>

            <div ng-if="contact.Profile.Fax">
                <dt><i class="fa fa-fax"></i></dt>
                <dd>{{::contact.Profile.Fax}}</dd>
            </div>
            <div ng-if="contact.Profile.Facebook">
                <dt><i class="fa fa-facebook"></i></dt>
                <dd ng-bind-html="contact.Profile.Facebook | urlFilter : true"></dd>
            </div>
            <div ng-if="contact.Profile.Twitter">
                <dt><i class="fa fa-twitter"></i></dt>
                <dd ng-bind-html="contact.Profile.Twitter | urlFilter : true"></dd>
            </div>
            <div ng-if="contact.Profile.Google">
                <dt><i class="fa fa-google"></i></dt>
                <dd ng-bind-html="contact.Profile.Google | urlFilter : true"></dd>
            </div>
            <div ng-if="contact.Profile.Skype">
                <dt><i class="fa fa-skype"></i></dt>
                <dd>{{::contact.Profile.Skype}}</dd>
            </div>
            <div ng-if="contact.Profile.Yahoo">
                <dt><i class="fa fa-yahoo"></i></dt>
                <dd>{{::contact.Profile.Yahoo}}</dd>
            </div>
        </dl>
    </div>
</div>

<div class="well colordark">
    <p class="with-linebreaks">
        You met <span ng-if="!contact.Profile.Gender">this person</span><span ng-if="contact.Profile.Gender == 'Male'">him</span><span ng-if="contact.Profile.Gender == 'Female'">her</span> at {{::contact.AddedDate | date}} <span ng-if="contact.GeolocationName != 'Unknown'"> in {{::contact.GeolocationName}}</span>.
    </p>
    <p data-ng-if=\"contact.Profile.IsDeleted == \'True\'\">
    	This glad-card has been deleted and will no longer receive automatic updates.
    </p>
</div>

<div class="action-buttons">
	<div class="btn-group pull-right">
        <a class="btn btn-default" target="_blank" href="http://www.gladdress.com/{{::contact.GladId}}.html"><img src="https://az749930.vo.msecnd.net/assets/img/icons/profile_light_16.png"></a>
        <button type="button" class="btn btn-danger" ng-click="delete()"><i class="fa fa-trash"></i></button>
	</div>
</div>
