* {
	&:active,
	&:focus {
		outline: none !important;
	}
}

body {
  background: #fefefe;
}

a {
	transition: all 0.5s ease 0s;
    color: $themePrimary;
	&:hover {
        text-decoration: none;
		transition: all 0.5s ease 0s;
        color: $themeDark;
	}
}

nav {
  border-bottom: 1px solid #efefef !important;

  li.inverted a {
    background: $themePrimary;
    color: white;
  }
}

  .img-rounded {
    border-radius: 1000px;
  }

  .with-linebreaks {
    white-space: pre-line;
  }

  .slide {
    position: relative;

    [ui-view].ng-enter, [ui-view].ng-leave {
      transition: all .5s ease-in-out;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 0 15px;
    }

    [ui-view].ng-enter {
      opacity: 0;
      transform: scale3d(0.5, 0.5, 0.5);
    }

    [ui-view].ng-enter-active {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }

    [ui-view].ng-leave {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    [ui-view].ng-leave-active {
      opacity: 0;
      transform: translate3d(100px, 0, 0);
    }
  }
