<form name="form" class="form-horizontal" novalidate>

    <div ng-show="error" class="alert alert-danger">{{error}}</div>

    <div class="form-group">
        <div class="col-sm-12">
            <input type="text" class="form-control" placeholder="glad-ID or glad-card url" name="cGladId" ng-model="contact.GladId" required>
            <div class="messages help-block" ng-messages="form.cGladId.$error" ng-if="form.cGladId.$touched">
                <p class="label label-danger error-message" ng-message="required">Mandatory field!</p>
            </div>
        </div>
    </div>

	<div class="action-buttons">
		<div class="btn-group pull-right">
			<button type="submit" class="btn btn-primary" ng-click="create()" ng-disabled="!form.$dirty || !form.$valid">
                    <span ng-if="dataLoading"><i class="fa fa-spin fa-spinner"></i></span> Add
            </button>
			<button type="reset" class="btn btn-default" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</form>