<div class="input-group">
	<span class="input-group-addon fa fa-search"></span>
	<input type="text" class="form-control" placeholder="Search" ng-model="searchFilter">
    <span class="input-group-addon" ng-if="dataLoading">
        <i class=" fa fa-spin fa-spinner" ></i>
    </span>
    <span class="input-group-btn" ng-if="!dataLoading" ng-click="loadContacts()">
        <button class="btn btn-default" type="button">
            <i class="fa fa-refresh"></i>
        </button>
    </span>
</div>
<ul class="nav nav-pills nav-stacked">
	<li ng-repeat="contact in contacts | filter: searchFilter | orderBy: 'Profile.LastName'" ui-sref-active="active">
        <a ui-sref="contacts.detail({id: contact.GladId})">
            <div ng-if="contact.Profile.Photo" class="profilephoto-thumbnail-rounded" style="background-image:url('{{::contact.Profile.Photo}}')"></div>
            <i ng-if="!contact.Profile.Photo" class="fa fa-user fa-3x pull-right"></i>

            <span class="colorDark"><strong>{{::contact.Profile.FirstName}} {{::contact.Profile.LastName}}</strong></span><br />
            <i ng-if="contact.Profile.IsBusiness == 'False'" class="fa fa-home"></i>
            <i ng-if="contact.Profile.IsBusiness == 'True'" class="fa fa-briefcase"></i>
            <small>{{::contact.Profile.City}}</small><br />
            <small><i class="fa fa-calendar"></i> {{::contact.AddedDate | date}} <i class="fa fa-location-arrow"></i> {{::contact.GeolocationName}} </small>
        </a>
    </li>
</ul>
<div class="text-center" ng-if="dataLoading">
    <br />
    <i class=" fa fa-spin fa-spinner" ></i>
</div>