<div class="input-group">
	<span class="input-group-addon fa fa-search"></span>
	<input type="text" class="form-control" placeholder="Search" ng-model="searchFilter">
    <span class="input-group-addon" ng-if="dataLoading">
        <i class=" fa fa-spin fa-spinner" ></i>
    </span>
    <span class="input-group-btn" ng-if="!dataLoading" ng-click="loadContacts()">
        <button class="btn btn-default" type="button">
            <i class="fa fa-refresh"></i>
        </button>
    </span>
</div>
<ul class="nav nav-pills nav-stacked">
	<li ng-repeat="contact in contacts | filter: searchFilter | orderBy: 'Profile.LastName'" ui-sref-active="active">
        <a ui-sref="contacts.detail({id: contact.GladId})">
           <img class="img-rounded" style="height: 24px" src="{{contact.Profile.Photo}}"> {{contact.Profile.FormattedName}}</a>
    </li>
</ul>